div#d0{
        position: fixed;
        left: 5px;      
        bottom: 5px; 
       
    }
div#d1{
        position: fixed;
        left: 150px;      
        bottom: 5px; 
       
    }
div#d2{
        position: fixed;
        left: 295px;      
        bottom: 5px; 
       
    }
div#d3{
        position: fixed;
        left: 440px;      
        bottom: 5px; 
       
    }
div#d4{
        position: fixed;
        left: 585px;      
        bottom: 5px; 
       
    }
div#d5{
        position: fixed;
        left: 730px;      
        bottom: 5px; 
       
    }
div#d6{
        position: fixed;
        left: 875px;      
        bottom: 5px; 
       
    }
div#d7{
        position: fixed;
        left: 1020px;      
        bottom: 5px; 
       
    }
div#d8{
        position: fixed;
        left: 1165px;      
        bottom: 5px; 
       
    }
div#d9{
        position: fixed;
        left: 1310px;      
        bottom: 5px; 
       
    }
div#d10{
        position: fixed;
        left: 1430px;      
        bottom: 5px; 
      
       
    }
